<div class="w-full">
    <div class="h-screen">
        <div class="flex border border-grey rounded shadow-lg h-full">
            <!-- Left -->
            <div class="w-1/4 border[0.5px] border-[#F7F7F7] flex flex-col">
                <!-- Header -->
                <div class="py-2 px-3 bg-grey-lighter flex flex-row justify-between items-center">
                    <div class="flex items-center">
                        <img class="rounded-full"
                            [src]="(authenticationService.auth?.user?.profilePicture ?? '') | encodeProfilePicUrl"
                            width="48" height="48" />
                        <button type="button" (click)="dropdownOpen = !dropdownOpen"
                            class="inline-flex justify-center px-4 py-2 bg-white text-sm font-medium focus:outline-none ml-2"
                            id="options-menu">
                            <span
                                class="text-[15px] font-normal leading-6 text-[#101C26]">{{authenticationService.auth?.user?.name
                                ?? ''}}</span>
                            <img src="assets/images/icons/chevron-down.png" alt="Expand Arrow"
                                class="w-[24px] h-[24px] ml-2">
                        </button>

                        <div class="absolute left-[11px] top-[25px] mt-4 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 transition-all ease-out duration-300 z-10"
                            *ngIf="dropdownOpen">
                            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                                <!-- Dropdown items here -->
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                    role="menuitem">Your Profile</a>
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                    role="menuitem">Settings</a>
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                    role="menuitem">Sign out</a>
                            </div>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="ml-4">
                            <button class="text-white py-2 px-4 rounded-3xl w-[48px] h-[48px] bg-[#101C26]"
                                (click)="openSearchPeopleModal()">
                                <img src="assets/images/icons/edit-square-feather.png" alt="edit square feather"
                                    width="24" height="24">
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Search -->
                <div class="relative py-2 px-2 bg-grey-lightest flex items-center rounded-full">
                    <img src="assets/images/icons/search.png" alt="Search" class="absolute h-6 w-6 left-3">
                    <input type="text" class="w-full pl-10 py-2 bg-[#F7F7F7] h-[48px] text-sm rounded-full focus:ring-1 focus:outline-none focus:ring-yellow-400
                    focus:border-yellow-400" placeholder="Search for chatter or message." />
                </div>

                <p class="py-2 px-4 mt-4 font-normal text-sm leading-5" style="color: #79838B;">Favourite chatters</p>

                <app-fav-contacts-slider> </app-fav-contacts-slider>


                <!-- Contacts -->
                <div class="bg-grey-lighter flex-1 overflow-auto">
                    <!-- Show when contacts are added-->
                    <div id="contact-list">
                        <div class="px-3 flex items-center bg-grey-light cursor-pointer">
                            <div>
                                <div class="relative inline-block">
                                    <img class="h-12 w-12 rounded-full"
                                        src="https://darrenjameseeley.files.wordpress.com/2014/09/expendables3.jpeg" />
                                    <div
                                        class="absolute bottom-0 right-0 w-3 h-3 bg-green-500 rounded-full border-2 border-white">
                                    </div>
                                </div>
                            </div>
                            <div class="ml-4 flex-1 border-b border-grey-lighter py-4">
                                <div class="flex items-bottom justify-between">
                                    <p class="text-grey-darkest">
                                        Hasan Haider
                                    </p>
                                    <p class="text-xs text-grey-darkest">
                                        12:45 pm
                                    </p>
                                </div>
                                <p class="text-grey-dark mt-1 text-sm">
                                    Last meessage goes here
                                </p>
                            </div>
                        </div>
                        <div class="bg-white px-3 flex items-center hover:bg-grey-lighter cursor-pointer">
                            <div>
                                <div class="relative inline-block">
                                    <img class="h-12 w-12 rounded-full"
                                        src="https://www.famousbirthdays.com/headshots/russell-crowe-6.jpg" />
                                    <div
                                        class="absolute bottom-0 right-0 w-3 h-3 bg-gray-500 rounded-full border-2 border-white">
                                    </div>
                                </div>
                            </div>
                            <div class="ml-4 flex-1 border-b border-grey-lighter py-4">
                                <div class="flex items-bottom justify-between">
                                    <p class="text-grey-darkest">
                                        Russell Crowe
                                    </p>
                                    <p class="text-xs text-grey-darkest">
                                        12:45 pm
                                    </p>
                                </div>
                                <p class="text-grey-dark mt-1 text-sm">
                                    Hold the line!
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Show when no contacts are added-->
                    <div id="no-contacts" class=" hidden flex flex-col items-center justify-center h-full">
                        <img src="assets/images/icons/chat.png" alt="No Contacts" class="w-[86px] h-[86px]" />
                        <p class="mt-2 text-center text-[#B5BDC5] text-[15px] leading-[24px] font-normal">Your Chatteree
                            conversations live here</p>
                    </div>
                </div>

            </div>


            <!-- Right -->
            <div class="w-3/4 border flex flex-col">

                <!-- Header -->
                <!-- Show only when user already have chats added -->
                <ng-container *ngIf="true">
                    <div
                        class="py-2 px-3 bg-grey-lighter flex flex-row justify-between items-center border-b border-[#F1F1F1] border-solid">
                        <div class="flex items-center">
                            <div>
                                <img class="w-10 h-10 rounded-full"
                                    src="https://darrenjameseeley.files.wordpress.com/2014/09/expendables3.jpeg" />
                            </div>
                            <div class="ml-4">
                                <p class="text-grey-darkest">
                                    Hasan Haider
                                </p>
                                <p class="text-green-500 text-xs mt-1">
                                    Online
                                </p>
                            </div>
                        </div>

                        <div class="flex">
                            <div class="cursor-pointer">
                                <img src="assets/images/icons/empty-heart.svg" width="24" height="24" alt="fav" />
                            </div>
                            <div class="ml-4 cursor-pointer">
                                <img src="assets/images/icons/more-h.svg" width="24" height="24" alt="menu" />
                            </div>
                        </div>
                    </div>

                    <!-- Messages -->
                    <div class="flex-1 overflow-auto">
                        <div class="py-2 px-3">

                            <div class="flex justify-center mb-2">
                                <div class="rounded py-2 px-4" style="background-color: #B5BDC5">
                                    <p class="text-sm uppercase">
                                        February 20, 2018
                                    </p>
                                </div>
                            </div>

                            <!-- Other user Message -->
                            <div class="flex mb-2">
                                <img src="https://darrenjameseeley.files.wordpress.com/2014/09/expendables3.jpeg"
                                    alt="Profile" class="h-10 w-10 rounded-full mr-3">
                                <div class="flex items-center rounded-full py-3 px-3 bg-[#F1F1F1]">
                                    <div>
                                        <p class="text-left text-xs text-grey-dark mt-1">
                                            12:45 pm
                                        </p>
                                        <p class="text-sm mt-1">
                                            Hi everyone! Glad you could join! I am making a new movie. Hope you all can
                                            join.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Logged in user Message -->
                            <div class="flex justify-end mb-2">
                                <div class="rounded-full py-3 px-3 bg-[#101C26]">
                                    <p class="text-right text-xs text-grey-dark mt-1 text-white">
                                        12:45 pm
                                    </p>
                                    <p class="text-sm mt-1 text-white">
                                        Hi everyone! Glad you could join! I am making a new movie. Hope you all can
                                        join.
                                    </p>
                                </div>
                                <img [src]="(authenticationService.auth?.user?.profilePicture ?? '') | encodeProfilePicUrl"
                                    alt="Profile" class="h-10 w-10 rounded-full mr-3">
                            </div>
                        </div>
                    </div>

                    <!-- Input -->
                    <div class="bg-grey-lighter px-4 py-4 flex items-center">
                        <div class="relative flex-1 mx-4">
                            <input class="w-full border rounded-full px-2 py-2 h-[48px] pl-3 pr-24"
                                placeholder="Type your message" type="text" />
                            <div class="absolute right-4 top-1/2 transform -translate-y-1/2 flex space-x-2">
                                <div class="relative">
                                    <img src="assets/images/icons/smile.svg" alt="Emoji"
                                        class="w-[24px] h-[24px] cursor-pointer"
                                        (click)="showEmojiPopup = !showEmojiPopup">
                                    <div class="absolute left-0 top-[32px] bg-white rounded shadow-lg p-2"
                                        *ngIf="showEmojiPopup">
                                        <!-- emojis go here -->
                                    </div>
                                </div>
                                <img src="assets/images/icons/paperclip.svg" alt="Emoji"
                                    class="w-[24px] h-[24px] cursor-pointer">
                                <img src="assets/images/icons/microphone.svg" alt="Emoji"
                                    class="w-[24px] h-[24px] cursor-pointer">
                            </div>
                        </div>
                        <div>
                            <button class="text-white py-2 px-4 rounded-3xl w-[48px] h-[48px] bg-[#101C26]">
                                <img src="assets/images/icons/send.svg" alt="edit square feather" width="24"
                                    height="24">
                            </button>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="false">
                    <div class="mt-16 ml-4 text-left">
                        <p class="mt-2 text-[#B5BDC5] text-[15px] font-normal leading-[24px]">Welcome</p>
                        <p class="text-[36px] font-semibold leading-[46px] text-[#101C26]">
                            {{authenticationService.auth?.user?.name}}</p>
                    </div>
                    <div class="flex flex-col items-center justify-center h-full">
                        <div class="relative w-[296px] h-[296px]">
                            <img src="assets/images/Vector.svg" alt="Above Image" class="w-[164px] max-w-none" />
                            <img src="assets/images/ill-chat.svg" alt="illustration"
                                class="absolute -top-[53px] left-[20px] max-w-none" />
                            <img src="assets/images/Union.svg" alt="union"
                                class="absolute top-[129px] left-[215px] max-w-none" />
                        </div>
                        <p class="mt-2 text-center text-[#B5BDC5] text-[15px] leading-[24px] font-normal">We hear say
                            your mouth die hmmm</p>
                        <button class="mx-auto mt-4 custom-button flex items-center" (click)="openSearchPeopleModal()">
                            <img src="assets/images/icons/white-square-feather.svg" alt="Chat"
                                class="w-[24px] h-[24px] mr-1" />
                            Start chatting
                        </button>
                    </div>
                </ng-container>
            </div>

        </div>
    </div>
</div>

<app-search-people></app-search-people>