<div class="h-screen py-20 px-3 text-left">
    <div class="container mx-auto">
        <div class="relative hidden md:block">
            <a href="#" class="absolute top-[30%] transform -translate-y-[19%] text-gray-400 hover:text-gray-600 cursor-pointer">
                <img src="assets/images/shapes/Ellipse2.png" alt="white-ellipse">
                <img src="assets/images/icons/arrow-left.png" alt="arrow-left" class="absolute top-[46%] left-[48%] transform -translate-x-1/2 -translate-y-1/2">
            </a>
        </div>
        <div class="max-w-sm mx-auto md:max-w-lg">
            <div class="w-fit mx-auto p-2.5">
                <a href="#" class="cursor-pointer block md:hidden">
                    <img src="assets/images/icons/arrow-left.png" alt="arrow-left" class="mb-6">
                </a>
                <img src="assets/images/logo.png" alt="Logo" class="mb-4 w-[140px]">
                <h1>Check your mail</h1>
                <p class="help_text mt-4">Enter the confirmation code sent to </p>
                <p>kwesiokyere@gmail.com <span class="help_text">to verify that it is you.</span></p>

                <div id="otp" class="flex flex-row justify-between text-left mt-5">
                    <input class="m-2 ml-0 w-10 h-12 md:w-14 md:h-16 text-center form-control rounded-md bgF7F7F7" type="text" id="first" maxlength="1" />
                    <input class="m-2 w-10 h-12 md:w-14 md:h-16 text-center form-control rounded-md bgF7F7F7" type="text" id="second" maxlength="1" />
                    <input class="m-2 w-10 h-12 md:w-14 md:h-16 text-center form-control rounded-md bgF7F7F7" type="text" id="third" maxlength="1" />
                    <input class="m-2 w-10 h-12 md:w-14 md:h-16 text-center form-control rounded-md bgF7F7F7" type="text" id="fourth" maxlength="1" />
                    <input class="m-2 w-10 h-12 md:w-14 md:h-16 text-center form-control rounded-md bgF7F7F7" type="text" id="fifth" maxlength="1" />
                    <input class="m-2 w-10 h-12 md:w-14 md:h-16 text-center form-control rounded-md bgF7F7F7" type="text" id="sixth" maxlength="1" />
                </div>

                <div class="flex justify-between text-left mt-5">
                    <a class="flex items-center text-gray-400 cursor-pointer">
                        <span class="resend">Resend OTP</span>
                    </a>
                    <!-- Button -->
                    <button class="custom-button">Verify</button>
                </div>

                <!-- Image at the bottom -->
                <img src="assets/images/illust.png" alt="Bottom" class="mt-6 mx-auto">
            </div>
        </div>
    </div>
</div>