<div class="h-screen py-20 px-3 text-center">
    <div class="container mx-auto">
        <div class="max-w-sm mx-auto md:max-w-lg">
            <div class="w-fit mx-auto p-2.5">
                <img src="assets/images/logo.png" alt="Logo" class="mb-4 w-[140px] md:block hidden mx-auto">
                <h1 class="text-[22px] sm:text-[36px]">Help them identify you</h1>
                <div class="relative w-[240px] h-[240px] mx-auto">
                    <img src="assets/images/shapes/Ellipse3.png" alt="uploadEllipse"
                        class="w-[240px] h-[240px] rounded-full absolute">
                    <img [src]="imageUrl && imageUrl !== '' ? imageUrl : 'assets/images/shapes/MaskGroup.png'"
                        alt="uploadMast"
                        class="w-[208px] h-[208px] rounded-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                    <label for="file-upload"
                        class="absolute bottom-[7px] left-1/2 transform -translate-x-1/2 py-2 px-4 bg-[#F1F1F1] w-[165px] rounded-full flex items-center shadow cursor-pointer text-sm text-[#101C26] font-normal">
                        <img src="assets/images/icons/uploadIcon.png" alt="uploadIcon" class="w-6 h-6 mr-2">
                        <span>Upload photo</span>
                    </label>
                    <input type="file" id="file-upload" class="hidden" (change)="triggerCropper($event)"
                        (click)="resetFileInput($event)" accept="image/png, image/jpeg, image/*">
                </div>

                <form class="max-w-sm w-full sm:w-auto hidden sm:block" #generalInfoForm="ngForm"
                    (submit)="submitForm(generalInfoForm)">
                    <div class="mb-5 mt-5 text-left">
                        <label for="name" class="mb-2 mt-4 text-[#79838B]">Your name</label>
                        <div class="relative md:static">
                            <div class="relative">
                                <input type="text" appNameInput [maxlength]="maxNameLength" id="name" #name="ngModel"
                                    [(ngModel)]="enteredName" (keyup)="updateNameLength()" name="name"
                                    class="h-[64px] bg-gray-50 border border-gray-300 text-gray-900 text-sm block w-full pl-6 pr-10 p-2.5 custom-border-radius-43 focus:ring-2 focus:outline-none focus:ring-yellow-400
                                                                        focus:border-yellow-400 text-[22px] font-semibold" required>
                                <span
                                    class="absolute right-2 top-1/2 transform -translate-y-1/2 text-[14px] text-[#B5BDC5]">{{currentNameLength}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center mt-8">
                        <button type="submit" class="custom-button"
                            [class.disable_btn]="enteredName.length < 3 || (!uploadedFile && imageUrl === '')">Let’s geauxxxx!</button>
                    </div>
                </form>
            </div>
            <form class="max-w-sm w-full sm:w-auto md:max-w-sm mx-auto sm:mx-0 sm:px-4 md:px-0 block sm:hidden"
                #generalInfoForm="ngForm" (submit)="submitForm(generalInfoForm)">
                <div class="mb-5 mt-5 text-left">
                    <label for="username" class="mb-2 mt-4 text-[#79838B]">Your name</label>
                    <div class="relative md:static">
                        <div class="relative">
                            <input type="text" appNameInput [maxlength]="maxNameLength" id="name" #name="ngModel"
                                [(ngModel)]="enteredName" (keyup)="updateNameLength()" name="name" class="h-[64px] bg-gray-50 border border-gray-300 text-gray-900 text-sm block w-full pl-10 pr-10 p-2.5 custom-border-radius-43 focus:ring-2 focus:outline-none focus:ring-yellow-400
                                                                focus:border-yellow-400" required>
                            <span
                                class="absolute right-2 top-1/2 transform -translate-y-1/2 text-[14px] text-[#B5BDC5]">{{currentNameLength}}</span>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center mt-8">
                    <button type="submit" class="custom-button"
                        [class.disable_btn]="enteredName.length < 3 || (!uploadedFile && imageUrl === '')">Let’s geauxxxx!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-cropper-modal #cropperModal [uploadedFileName]="uploadedFileName" (fileEmitter)="getFile($event)"></app-cropper-modal>